/*Variables*/
$teal: #59c1cf;
$yellow: #ffcf00;
$blue-green: #25a79d;
$white: #ffffff;
$dark-green: #174b47;
$lime-green: #93c840;
$orange: #FF9317;
$pink: #e75076;
$width: 1080px;
$height: 1920px;


/*Mixins*/
@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	-ms-transition:     $transition;
	transition:         $transition;
}
@mixin transform($transform...) {
	-moz-transform:    $transform;
	-ms-transform:		$transform;
	-o-transform:      $transform;
	-webkit-transform: $transform;
	transform:         $transform;
}
body{
	padding:0;
	margin:0 auto;
	width: $width;
	height: $height;
	overflow:hidden;
	background-image: url(../img/body-bg.png);
	position: fixed;
	top: 0;
	left: 0;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	-moz-osx-font-smoothing:grayscale;
}
.text-center{
	text-align: center;
}
.center-block{
	margin: 0 auto;
	display:block;
}
.white{
	color: $white;
}
.container{
	display:block;
	margin: 0 auto;
	padding:0;
}
.screen{
	width: $width;
	height: $height;
	display:none;
}
.body-back #screen2{
	display:block;
}
.anime{
    opacity: 0;
}
.remove-rotate{
    transform: none;
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
    opacity: 0;
}
/*Screen 1 Styles*/
#screen1{
	display:block;
	background-image: url(../img/screen1-bg.png);
	background-size:cover;
	background-position:center;
	img{
		display: block;
		margin: 40px auto;
	}
	#for-energy{
		padding-top: 647px;
		margin-top: 0;

	}
}//screen 1

.energy, .health, .fun{
	background-image: url(../img/energy/bg.png);
	background-color: $white;
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	table{
		display: block;
		margin: 0 auto;
		width: 1042px;
        margin-top: 10px;

	}
	td img{
		margin: 20px;
	}

	#pro-tip{
		margin:20px auto;
	}
	.content{
		padding-top: 4%;
	}
    .backButton{
        margin-top: 60px;
    }
}
.health, .fun{
    table{
        margin-top: 50px;
    }
}
//how do you feel
.guide{
  
    
    .nutritionBack{
    padding-top: 50px;
    padding-left: 40px;
    position: absolute;
    left: 10px;
        top:8px;
        
}
    .last{
       height: 690px;
        background: transparent;
    }
    overflow: hidden;

    .title{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .choices{
       
        text-align: center;
    
    }
    img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    background-color: white;
    #footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .smoothie-container{
    height: $height;
    width: $width;
    overflow: hidden;
        
}

 .smoothie-scroll{
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-right: 30px;
    padding-left: 30px;
     
}
    table.choices{
        width: 1000px;
        display: block;
        margin: 0 auto;
        td{
            padding: 70px 40px 30px 40px;
            width: 344px;
            text-align: center;
            margin: 0 auto;
            
            &#smoothies{
                background-image: url(../img/guide/smoothie-active.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                &.active{
                    background-size: auto;
                    background-image: url(../img/guide/smoothies.png);
                }
            }
              &#bowls{
                background-image: url(../img/guide/Bowls.png);
                background-position: center;
                background-repeat: no-repeat;
                   &.active{
                       background-size: contain;
                    background-image: url(../img/guide/bowls-active.png);
                }
            }
             &#juices{
                background-image: url(../img/guide/juices.png);
                background-position: center;
                background-repeat: no-repeat;
                  &.active{
                      background-size: contain;
                    background-image: url(../img/guide/juices-active.png);
                }
            }
        }
        img{
            @include transition(all 0.5s ease-in-out);
        }
    }
    table.smoothies{
        padding-top: 80px;
        td{
            vertical-align: top;
        }
       
    }
    table.bowls{
        text-align: center;
        display: none;
        margin-left: auto;
        margin-right: auto;
        #acai{
            margin-top: 40px;
        }
        td{
            position: relative;
            vertical-align: bottom;
        }
        img{
     
            margin-left: auto;
            margin-right: auto;
        }
        #oats{
         position: absolute;
margin-left: auto;
margin-right: auto;
left: 351px;
right: 0;
            
        }
    }
    table.juices{
        display: none;
        padding-top: 80px;
         margin-left: auto;
        margin-right: auto;
        td{
       
            vertical-align: bottom;
        }
        img{
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
       
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}
//global nutrition
.nutrition{
    background-color: white;
    img{
        
        margin-left: auto;
        margin-right: auto;
    }
}

.nutritionBack{
    padding-top: 50px;
    padding-left: 40px;
}
.nutritionFooter{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1 !important;
}
.nutritionTitle{
    padding-top: 10px;
    display: block;
    position: relative;
    z-index: 2;
    
}
.facts{
    display: block;
    margin: 70px auto 0 auto;
   
}
#nutrition1{
	background-color: white;
}
img#pbw{
    width: 945px;
    padding-top: 0;
}
/*Coded with love by Amelia: ameliarthompson.com*/
